
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*share style*/
body{
font-family: 'Work Sans', sans-serif;
}
.info{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}
.main-title{
    font-size: 45px;
    font-weight: 700;
    
}
.fa-brands{
    font-size: 30px;
}
/*nav style*/
.nav-bar{
    width: 1900px;
    min-height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title-section{
    display: flex;
    gap: 20px;
   
}
.menu-section{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    
}
.menu-section a{
    text-decoration: none;
}
.special-menu-bar{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 200px;
    height: 55px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10) ;
    padding: 0 24px;
    font-size: 18px;
    
}
.special-color{
    font-size: 45px;
   font-weight: 700;
   color: deeppink;
   
   
       
}